PYTHONPATH=$PWD
CKAN_URL="https://48.220.49.10"
CKAN_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJXaHZpa3h3VmNNaGNOUXB5REE1RGlwbWFHN1FHNW9IeXVQTFNJbTVZc3FrIiwiaWF0IjoxNzc4NTk2MDU3fQ.1bKjGlrDxmpe1TcbXlHid93q_-fslRr_2Jg81bPRz-k"
